<footer>
        <div class="nav-bar">
            <a href="/" style="width: 30px"><img src="/BrightPath_logo.png" alt="Bright Path Logo & Name" style="width: 30px; margin-top: -5px; box-shadow: #204344 1px 1px; flex-grow: 0;"><span style="color: whitesmoke; margin-top: 2px;">Copyright &copy BrightPath 1980</span></a>
        </div>
</footer>