<nav>
      <div class="nav-bar" style="flex-grow: 0;">
            <a href="/" style="width: 30px; flex-grow: 0;"><img src="/BrightPath_logo.png" alt="Bright Path Logo & Name" style="width: 30px; margin-top: -4px; box-shadow: #204344 1px 1px; flex-grow: 0;"></a>
        </div>
        <div class="nav-bar">
            <a href="/nurses">Nurses</a>
        </div>
        <div class="nav-bar">
            <a href="/patients">Bronx Caseloads</a>
        </div>
        <div class="nav-bar">
            <a href="/patients">Brooklyn Caseloads</a>
        </div>
    </nav>