<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>
        <div style="text-align: center; margin-top: 20px;">
            <h1 id="main-title">Medical Foster Care Program</h1>
        </div>
        <div >
            <img src="/BrightPath_logo_name.png" alt="Bright Path Logo & Name" style="width: 300px; margin: 0px auto 20px auto; display: block;">
        </div>
        <div>
        </div>
    
    </main>
     <%- include('./partials/footer.ejs') %>
    
</body>
</html>