<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>
        <div style="text-align: center; margin-top: 20px;">
            <h1 id="main-title">Nurse Case Managers</h1>
        </div>
        <div id="team-title">
           <h1><a href="/nurses/bronxteam" class="team" id="bx-t">Bronx Team</a></h1><h1><a href="/nurses/brooklynteam" class="team" id="bk-t">Brooklyn Team</a></h1>
        </div>
        <div>
            <button id="add-nurse-btn"><a href="/nurses/addnurse" id="add-nurse-link">Add Nurse</a></button>
        </div>
       
    
    </main>
     <%- include('./partials/footer.ejs') %>
    
</body>
</html>

